<!DOCTYPE html>
<html lang="en-us" ng-app="ngSweetAlert">

<head>
    <meta charset="UTF-8">
    <title>Ng-sweet-alert by tushariscoolster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/sweetalert.css" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="script/sweetalert.min.js"></script>
    
    
</head>

<body ng-controller="MainCtrl">
    <section class="page-header">
        
        <h1 class="project-name">Ng-sweet-alert</h1>
        <h2 class="project-tagline">Sweet alert directive for angular js, without writing single javascript code</h2>
        <a href="https://github.com/tushariscoolster/ng-sweet-alert" class="btn">View on GitHub</a>
        <a href="https://github.com/tushariscoolster/ng-sweet-alert/zipball/master" class="btn">Download .zip</a>
        <a href="https://github.com/tushariscoolster/ng-sweet-alert/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
        <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to Ng-sweet-alert.</h3>

        <p>This Directive can be use in angular js application ,without writing a javascript code,All configuration can be done in HTML itself</p>
        
        <strong>Getting Started</strong>
        <p>Install it via bower</p>
          <pre><code>bower install ng-sweet-alert
</code></pre>
        
        <p>and add ng-sweet-alert as dependency in your main module:</p>
        <pre><code>angular.module('yourApp',[
  'ng-sweet-alert'
]);
</code></pre>
        
<p>You can try by chaging option on fly and try it!!! Enjoy</p>
        <table class="table">
           
            <thead>
                <tr>
                
                    <th>Option</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                
                    <td>sweet-options</td>
                    <td>
<textarea rows="2" cols="50" json-text ng-model="sweet.option">
</textarea></td>
                </tr>
                 <tr>
                
                    <td>sweet-confirm-option</td>
                    <td>
<textarea rows="2" cols="50" json-text ng-model="sweet.confirm" >
</textarea></td>
                </tr>
                 <tr>
                
                    <td>sweet-cancel-option</td>
                    <td>
<textarea rows="2" cols="50" json-text ng-model="sweet.cancel">
</textarea></td>
                </tr>
                 <tr>
                
                    <td>sweet-on-confirm</td>
                    <td>
checkConfirm()</td>
                </tr>
                 <tr>
                
                    <td>sweet-on-cancel</td>
                    <td>
checkCancel()</td>
                </tr>
            </tbody>
        </table>
        
        
        
        <pre><code>{{htmlSweetOption}}{{sweet.option}}{{htmlSweetConfirm}}{{sweet.confirm}}{{htmlSweetCancel}}{{sweet.cancel}}{{htmlSweetOnConfirmCancel}}
</code></pre>
        
        <a sweetalert sweet-options="{{sweet.option}}" sweet-confirm-option="{{sweet.confirm}}" sweet-cancel-option="{{sweet.cancel}}"  name="login-submit" sweet-on-cancel="checkCancel()" sweet-on-confirm="checkConfirm()" style="background-color:blue"  class="btn" >Try It</a>



        <footer class="site-footer">
            <span class="site-footer-owner"><a href="https://github.com/tushariscoolster/ng-sweet-alert">Ng-sweet-alert</a> is maintained by <a href="https://github.com/tushariscoolster">tushariscoolster</a>.</span>

        </footer>

    </section>
<script src="script/angular.min.js"></script>
    <script src="script/ng-sweet-alert.js"></script>
    <script src="script/app.js"></script>

</body>

</html>